@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap&subset=latin-ext');

* {
  font-family: 'Nunito Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
 }

body {
  background-color: #fff6f6;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: 'Nunito Sans', sans-serif;
}
